{% extends 'ct_todo/base.html' %}


{% block content %}

<div class="max-w-5xl mx-auto my-14 px-6 py-8 bg-gradient-to-r from-purple-50 via-red-200 to-purple-100 rounded-xl shadow-2xl text-center">
    <div class="bg-gradient-to-r from-purple-50 via-red-200 to-purple-100 text-center text-lg text-gray-700 py-2 mb-7 rounded-t-xl shadow-sm">

        <h1 class="text-2xl mb-5" style="font-family: 'Russo One', sans-serif;">
            About ComradeTask ★<span style="color: red; text-shadow: 0 0 10px yellow, 0 0 10px red;"></span>
        </h1>
    </div>
    <p class="text-lg mb-6 text-gray-700">
        Welcome, Comrade! 👋<br>
        ComradeTask was built to help you take control of your day, one task at a time. 
        We believe that <strong>action is the only bridge between dreams and reality</strong>, 
        and we’re here to help you build the discipline to take it. 💪
    </p>

    <p class="text-md mb-6 text-gray-600 italic">
        Whether you’re planning, prioritizing, or just keeping your life organized, 
        ComradeTask has got your back.
    </p>

    <a href="https://github.com/WDev4nsh" target="_blank" 
       class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 mt-5 rounded-full font-semibold transition-transform transform hover:scale-105 inline-block">
        Check the Code on GitHub
    </a>

</div>

{% endblock %}
